main{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 99vh;
    width: 95%;
    color: white;
    font-weight: bold;
}
#tabs{
    height: 7%;
    min-width: 400px;
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: black;
    padding: 0 20px;
}
.tab{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 214, 214);
    color: rgb(51, 50, 50);
    font-weight: bold;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0 10px;
    font-size: 12px;
    user-select: none;
}
select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding: 0 10px;
    /* Some code I found on Codepen: https://codepen.io/vkjgr/pen/VYMeXp */
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 7px),
        calc(100% - 15px) calc(1em + 7px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}
.active{
    background-color: #5c6bbb;
    color: white;
}
.item{
    margin-bottom: 10px;
}
input:hover, select:hover, .hoverMe:hover{
    cursor: pointer;
}
.tabContent{
    background-color: #5c6bbb;
    height: 70%;
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 15px 0;
}
#hideSearch{
    color: rgb(73, 227, 247);
    align-self: flex-start;
    margin-left:6%;
    user-select: none;
}
#specificDates{
    align-self: flex-start;
    margin-left:6%;
    user-select: none;
}
#datepicker{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#submitSearch{
    background-color: #e470bf;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    user-select: none;
}
#submitSearch:active{
    border: 1px solid gray;
}
.mini{
    font-size:10px;
    margin-left:12%;
}
.alignLeft{
    align-self: flex-start;
    margin-left:6%;
}
.checkdate{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.checkdate p {
    margin-left:12%;
}
h3{
    font-size: 30px !important;
    font-weight: bold;
}
.room{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#addRoomAddon{
    color: #51A4F7;
    font-weight: bold;
}
#addRoomAddon:hover{
    color: #e470bf;
}
.ui .input{
    width: 100%;
    height: 50px;
    border-radius: 0 !important;
}